// 
// user.scss
// Use this to write your custom SCSS
//

// region select_card
.select_card {
  cursor: pointer;
  .card-body {
    display: flex;
  }

  .icon-circle {
    width: 2.5rem;
    height: 2.5rem;

    i {
      font-size: 1.5rem;
    }

    img {
      width: 2.5rem !important;
      height: 2.5rem !important;
    }
  }

  .form-check {
    position: absolute;
    top: 0;
    right: 0;
  }
}
// endregion

// region menu
nav.navbar .dropdown-menu-xl {
  @include media-breakpoint-up(lg) {
    right: 0!important;
    left: auto!important;
    transform: none!important;
  }
  .dropdown-img-start {
    min-height: 250px;
    &::before {
      z-index: -1;
      background-color: $primary;
    }
  }
}
// endregion

// region footer
footer {
  .footer-brand {
    max-width: 250px;
  }
}
// endregion